*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
     /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(228, 66%, 53%);
  --first-color-alt: hsl(228, 66%, 47%);
  --first-color-light: hsl(228, 62%, 59%);
  --first-color-lighten: hsl(228, 100%, 97%);
  --second-color: hsl(25, 83%, 53%);
  --title-color: hsl(228, 57%, 28%);
  --text-color: hsl(228, 15%, 50%);
  --text-color-1: #fff;
  --text-color-light: hsl(228, 12%, 75%);
  --border-color: hsl(0, 0%, 87%);
  --body-color: #fff;
  --container-color: #fff;

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: 'Poppins', sans-serif;
  --biggest-font-size: 2.25rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;
}
body{
    font-family:var(--body-font);
    color: var(--body-color);
    background: var(--body-color);
}
main{
    padding-top: 30px;
    height: 100vh;
    background-image: linear-gradient(to top left ,#111 60%,rgb(63, 63, 63) );
    .span{
        // background-color: #fff;
        transition: .3s;
        width: 100%;
        height: 70px;
        top: 0;
        position: fixed;
        z-index: 1;
    }
    .start{
        position: fixed;
        height: 35px;
        width: 35px;
        background: var(--text-color-light);
        border: 1px solid var(--body-color);
        border-radius: 50%;
        right: 10px;
        bottom: 10px;
        cursor: pointer;
        display: none;
        img{
            position: absolute;
            transform: translate(7px, 6px);
        }
    }
    .start:hover{
        background: var(--text-color);
    }
}
.container{
    width: 65%;
    margin: auto;
    nav{
        // color: var(--text-color);
        position: fixed;
        align-items: center;
        top: 0px;
        gap: 300px;
        transition: 1.7s;
        z-index: 2;
        .logo{
            color: var(--first-color-alt);
            display: flex;
            gap: 5px;
        }
        li,button, .logo{
            cursor: pointer;
        }
        display: flex;
        flex-direction: row;
        align-items: center;
    ul{
            .active{
                color: var(--first-color);
            }
        color: var(--text-color);
        list-style: none;
        display: flex;
        gap: 40px;
        align-items: center;
        button{
        border: none;
        outline: none;
        background: var(--first-color);
        padding: 10px 20px;
        border-radius: 5px;
        color: var(--text-color-1);
        }
        button:hover{
            background: var(--first-color-alt);
        }
        li:hover{
            color: var(--first-color-alt);
        }
    }
    .logo:hover{
        color: var(--first-color-alt);
    }
    }
    
}
/////
.intro{
    color: var(--body-color);
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    transition: 1.7s;
    .img-container{
        // box-shadow: 0px 5px 45px 0px var(--text-color);
        margin-top:  85px;
        img{
            cursor: pointer;
            max-width: 310px;
            border-bottom: none;
            border-radius: 166px 166px 15px 15px;
            box-shadow: 0px -31px 0px 9px rgb(44, 41, 41);

        }
    }
    .search{
        display: flex;
    flex-direction: column;
    gap: 45px;
        h1{
            line-height: 40px;
            font-weight: 900;
            color: var(--text-color-1);
        }
        p{
            color: var(--text-color-light);
        }
        .search-info{
            background: var(--body-color);
            display: flex;
            padding: 8px 13px;
            border-radius: 7px;
            justify-content: space-between;
            align-items: center;
        input{
            background-color: var(--body-color);
            border: none;
            outline: none;
        }
        i{
            color: var(--first-color);
        }
        button{
            background: var(--first-color);
            color: var(--text-color-1);
            border: none;
            outline: none;
            padding: 10px 15px;
            border-radius: 5px;
            cursor: pointer;
        }
        button:hover{
            background: var(--first-color-alt);
        }
        .location{
            display: flex;
            gap: 10px;
        }
        }
        .stats{
            h2{
                color: var(--text-color-1);
            }
            display: flex;
            gap:60px;
        }
    }
}
///
section{
    margin-top: 100px;
    .top-sec{
        display: flex;
        justify-content: space-between;
        img{
            transition: 1.7s;
            opacity: 0;
            // padding-right: 80px;
            // margin: -40px;
            max-width: 50px;
            opacity: .5;
            cursor: pointer;        
        }
        img:hover{
            opacity: 1;
        }
    }
    .mid-sec{
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        .pop-txt{
            p{
                color: var(--second-color);
            }
            h2{
                color: var(--title-color);
                font-weight: bold;
                span{
                    color: var(--second-color);
                }
            }
        }
        .pop-imgs{
            cursor: pointer;
            transition: 1.4s;
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            gap: 10px;
            overflow: hidden;
            .active{
                background: var(--first-color-lighten);
            }
            .f-img:hover{
                box-shadow: 0 0 9px var(--text-color);
            }
            .f-img{
                transition: .7s;
                padding: 10px;
                display: flex;
                flex-direction: column;
                gap: 10px;            
                img{
                    transition: 1.7s;
                    opacity: 0;
                    max-width: 200px;
                    border-radius: 10px;
                }
                h2{
                    color: var(--text-color);
                    span{
                        color: var(--second-color);
                    }
                }
                h3{
                    color: var(--title-color);
                    font-size: 18px;
                }
                p{
                    font-size: 13px;
                    color: var(--text-color-light);
                }
            }
        }
    }
    .direction{
        
        text-align: center;
        margin-top: 15px;
        i{
            cursor: pointer;
            color: var(--first-color-light);
            background: var(--first-color-lighten);
            font-size: 14px;
            padding: 10px;
            border-radius: 7px;
            border: 1px solid var(--border-color);
        }
    }
}
/////
.our-value{
    display: flex;
    gap: 75px;
    margin-bottom: 100px;
    .value-img{
        img{
            opacity: 0;
            cursor: pointer;
            max-width: 330px;
            transition: 1.7s;
            max-height: 450px;
            margin-right: 40px;
            border-bottom: none;
            border-radius: 166px 166px 15px 15px;
            box-shadow: 0px -15px 0px 9px var(--border-color);
        }
    }
    margin-top: 100px;
    .value{
        opacity: 0;
        transition: 1.7s;
        display: flex;
        flex-direction: column;
        gap: 20px;
    p:nth-child(1){
        color: var(--second-color);
    }
    h2{
        color: var(--title-color);
        font-weight: bold;
        span{
            color: var(--second-color);
        }
    }
    p{
        font-size: 13px;
        color: var(--text-color-light);
    }
    .top-sec{
        display: flex;
        flex-direction: column;
        gap: 10px;
        p{
            margin-bottom: 10px;
        }
        p:not(:first-child){
            color: var(--text-color);
        }
    }
    .bottom-sec{
        h3{
            white-space: nowrap;
        }
        display: flex;
        flex-direction: column;
        .artical{
            transition: .8s;
            display: flex;
            flex-direction: column;
            gap: 10px;
            // box-shadow: 0px 0px 10px var(--border-color);
            padding: 10px 5px 45px;
            .abbr{
                padding: 10px 0 0 30px;
                p{
                    color: var(--text-color);
                }
            }
            .line{
                display: flex;
                gap: 7px;
                align-items: center;
                justify-content: space-between;
                div{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 7px;
                    i{
                        padding: 3px 3px;
                    }
                }
                h3{
                    color:var(--title-color) ;
                }
                i{
                    cursor: pointer;
                    border-radius: 3px;
                    padding: 0px 3px;
                    background: var(--border-color);
                    color: var(--first-color);
                }
            }
        }
    }
    }
}
/////
.contact-sec{
    .contact{
        margin-right: 30px;
        transition: 1.7s;
    }
    gap: 140px;
    display: flex;
    p:nth-child(1){
        color: var(--second-color);
    }
    h2{
        color: var(--title-color);
        font-weight: bold;
        span{
            color: var(--second-color);
        }
    }
    p{
        font-size: 13px;
        color: var(--text-color-light);
    }
    .contact-img{
        margin-top: 80px;
    }
    img{
        max-width: 341px;
        max-height:485px ;
        cursor: pointer;
        transition: 1.7s;
        border-bottom: none;
        border-radius: 166px 166px 15px 15px;
        box-shadow: 0px -15px 0px 9px var(--border-color);
    }
    .top-sec{
        margin-bottom: 25px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        p{
            margin-bottom: 10px;
        }
        p:not(:first-child){
            color: var(--text-color);
        }
    }
    .bottom-sec{
        margin-left: 15px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 70px;
    }
    .call, .Chat, .Message, .video{
        cursor: pointer;
        display: flex;
        flex-direction: column;
        gap: 10px;
        // padding: 15px 21px 5px;
        width: 120%;
        height: 150%;
        box-shadow: 0px 0px 8px var(--border-color);
        border-radius: 5px;
        justify-content: center;
        align-items: center;
        h4{
            color: var(--title-color);
        }
        p{
            color: var(--text-color);
        }
        .top{
            display: flex;
            gap: 10px;
            align-items: center;
            i{
                color: var(--first-color);
            }
        }
        .bottom{
            // padding: 0px 15px;
            background: var(--first-color-lighten);
            border-radius: 3px;
            width: 150px;
            text-align: center;
            height: 45px;
            display: flex;
            align-items: center;
            justify-content: center;
        }.bottom:hover{
            background: var(--first-color);
        }
    }
}
///
.get-started{
    margin-top: 50px;
    opacity: 0;
    transition: 1.7s;
    width: 100%;
    background: var(--first-color-alt);
    border-radius: 15px;
    height: 245px;
    border: 7px solid var(--first-color);
    display: flex;
    align-items: center;
    justify-content: center;
    .info{
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 45%;
        justify-content: center;
        align-items: center;
        h1{
            color: var(--body-color);
            font-size: 30px;
            white-space: nowrap;
        }
        p{
            color: var(--text-color-light);
            text-align: center;
            font-size: 13px;     
            margin-bottom: 10px;   
        }
        h3{
            cursor: pointer;
            color: var(--text-color-1);
            padding: 10px 15px;
            border: 2px solid var(--border-color);
            background: var(--first-color-light);
            width: fit-content;
            border-radius: 7px;
        }
        h3:hover{
            background: var(--first-color);
        }
    }
}
/////
footer{
    p,li{
        font-size: 13px;
    }
    padding-bottom: 20px;
    margin-top: 50px;
    opacity: 0;
    transition: 1.7s;
    height: 300px;
    gap: 100px;
    display: flex;
    justify-content: space-between;
    .left-sec{
        p{
            color: var(--text-color);
            white-space: nowrap;
        }
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .vesion{
            p{
                line-height: 18px;
            }
            color: var(--text-color);
            display: flex;
            flex-direction: column;
            gap: 7px;
            .logo{
                cursor: pointer;
                margin-bottom: 3px;
                color: var(--first-color);
                display: flex;
                flex-direction: row;
                gap:5px;
            }
            .logo:hover{
                color: var(--first-color-alt);
            }
        }
    }
    .right-sec{
        p{
            color: var(--text-color);
        }
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
    }
    .ul-sec{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 50px;
        ul{
            cursor: pointer;
            list-style: none;
            li:first-child{
                color: var(--title-color);
                font-size: 14px;
                font-weight: bold;
                white-space: nowrap;
                margin-bottom: 20px;
            }
            li:not(:first-child){
                color: var(--text-color);
                margin-bottom: 15px;
                white-space: nowrap;
                font-weight: 600;
            }
            li:not(:first-child):hover{
                color: var(--first-color-light);
            }
        }
        .follow-us{
            // display: flex;
            // flex-direction: column;
            ul{
                li:not(:first-child){
                    display: inline-block;
                    margin-right: 6px;
                    white-space: nowrap;
                }
            }
        }
}
    }
    .acc-val, .acc-mid{
        margin-bottom: 160px;
    }
    .acc-conta{
        margin-bottom: 107px;
    }
    ///
    .dark-theme{
        --first-color: hsl(228, 66%, 53%);
        --first-color-alt: hsl(228, 66%, 47%);
        --first-color-light: hsl(228, 62%, 59%);
        --first-color-lighten: hsla(228, 100%, 97%, 0.151);
        --second-color: hsl(25, 83%, 53%);
        --title-color:#fff;
        --text-color: #fff;
        --text-color-1: #fff;
        --text-color-light: #fff;
        --border-color:hsl(252, 6%, 85%);
        --body-color: #222;
        --container-color: #222;
    }
/////// 
::-webkit-scrollbar{
    width: 8px;
}
::-webkit-scrollbar-thumb{
    background: var(--text-color-light);
    border-radius: 10px;
}
::-webkit-scrollbar-track{
    background: var(--border-color);
}
///////////////////////////////

@media (max-width:600px) {
    body .main{
        .span{
            height: 50px;
        }
        .container{
            .nav{
                gap:246px;
                .logo{
                    color: var(#fff);
                }
            }
            width: 92%;
            .abbre{
                // display: none;
                ul{
                    flex-direction: column;
                }
                ul li:not(:nth-of-type(5)){
                    display: none;
                }
            }
            .intro{
                margin-top:50px ;
                flex-direction: column;
                align-items: center;
                .search{
                    gap: 20px;
                }
                .img-container{
                    margin-top: 70px;
                    img{
                        max-width: 240px;
                    }
                }
            }
            .section{
                .top-sec{
                    display: grid;
                    grid-template-columns: repeat(2,1fr);
                    row-gap: 45px;
                }
                .acc-mid{
                    margin-bottom: 70px;
                }
                .mid-sec{
                    gap: 0;
                    .pop-imgs{
                        gap: 88px;
                        // margin-left: 4px;
                        .f-img{
                            img{
                                max-width: 300px;
                            }
                        }
                    }
                }
                .acc-val{
                    margin-bottom: 90px;
                }
                .our-value{
                    margin: 40px 0;
                    align-items: center;
                    flex-direction: column;
                    gap: 45px;
                    .value-img{
                        img{
                            max-width: 280px;
                        }
                    }
                    .value{
                        font-size: 14px;
                        width: 100%;
                        gap: 7px;
                        .top-sec{
                            grid-template-columns: repeat(1,1fr);
                            row-gap: 7px;
                        }
                    }
                }
                .acc-conta{
                    margin-bottom: 50px;
                }
                .contact{
                    order: 2;
                }
                .contact-sec{
                    align-items: center;
                    font-size: 14px;
                    width: 100%;
                    flex-direction: column;
                    gap:30px ;
                    .top-sec{
                        grid-template-columns: repeat(1,1fr);
                        gap: 5px;
                    }
                    .bottom-sec{
                        gap: 20px;
                        row-gap: 70px;
                        .active{
                            background-color: var(--first-color);
                        }
                        .call,.Chat,.video,.Message{
                            width: 140px;
                        }
                        .bottom{
                            width: 120px;
                            white-space: nowrap;
                        }
                    }
                    .contact-img{
                        margin-top: 10px;
                        img{
                            max-width: 280px;
                        }
                    }
                }
                .info{
                    font-size: 12px;
                    h1{
                        font-size: 22px;
                    }
                    p{
                        font-size: 11px;
                        white-space: nowrap;
                    }
                }
                .footer{
                    position: relative;
                    .left-sec {
                        .rights{
                            position: absolute;
                            bottom: -125px;
                            transform: translate(19%, 50%);
                        }
                    }
                    flex-direction: column;
                    gap: 30px;
                    align-items: flex-start;
                    .ul-sec{
                        grid-template-columns: repeat(2,1fr);
                        gap: 28px;
                        column-gap: 50px;
                    }
                    .right-sec{
                        gap: 65px;
                    }
                }
            }
            .abbr{
                position: fixed;
                bottom: 44px;
                width: 92%;
                background: var(--body-color);
                height: 65px;
                border: 3px solid var(--border-color);
                border-radius: 25px;
                display: flex;
                justify-content: center;
                align-items: center;
                z-index: 1;
                ul{
                    gap: 65px;
                    display: flex;
                    list-style: none;
                    li{
                        .active{
                            color: var(--first-color);
                        }
                        i{
                            color: var(--text-color);
                            font-size: 19px;
                        }   
                    }
                }
            }
        }
    }
}
/////////////
@media screen and (min-width:600px) and (max-width:768px){
    .container{
        width: 80%;
        .abbr{
            position: fixed;
            bottom: 44px;
            width: 80%;
            background: var(--body-color);
            height: 65px;
            border: 3px solid var(--border-color);
            border-radius: 25px;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 1;
            ul{
                gap: 65px;
                display: flex;
                list-style: none;
                li{
                    .active{
                        color: var(--first-color);
                    }
                    i{
                        color: var(--text-color);
                        font-size: 19px;
                    }  
                }
                }
                }
        .abbre{
            // display: none;
            ul{
                flex-direction: column;
            }
            ul li:not(:nth-of-type(5)){
                display: none;
            }
        }
        .nav{
            gap:440px;
        }
        .intro{
            margin-top:50px ;
            flex-direction: column;
            align-items: center;
            .search{
                gap: 20px;
            }
            .img-container{
                margin-top: 70px;
                img{
                    max-width: 290px;
                }
            }
        }
        .section{
            .top-sec{
                display: grid;
                grid-template-columns: repeat(2,1fr);
                row-gap: 45px;
            }
            .acc-mid{
                margin-bottom: 70px;
            }
            .mid-sec{
                gap: 0;
                .pop-imgs{
                    gap: 88px;
                    // margin-left: 4px;
                    .f-img{
                        img{
                            max-width: 300px;
                        }
                    }
                }
            }
            .acc-val{
                margin-bottom: 90px;
            }
            .our-value{
                margin: 40px 0;
                align-items: center;
                flex-direction: column;
                gap: 45px;
                .value-img{
                    img{
                        max-width: 280px;
                    }
                }
                .value{
                    font-size: 14px;
                    width: 100%;
                    gap: 7px;
                    .top-sec{
                        grid-template-columns: repeat(1,1fr);
                        row-gap: 7px;
                    }
                }
            }
        }
        .acc-conta{
            margin-bottom: 50px;
        }
        .contact{
            order: 2;
        }
        .contact-sec{
            align-items: center;
            font-size: 14px;
            width: 100%;
            flex-direction: column;
            gap:30px ;
            .top-sec{
                grid-template-columns: repeat(1,1fr);
                gap: 5px;
            }
            .bottom-sec{
                gap: 20px;
                row-gap: 70px;
                .active{
                    background-color: var(--first-color);
                }
                .call,.Chat,.video,.Message{
                    width: 140px;
                }
                .bottom{
                    width: 120px;
                    white-space: nowrap;
                }
            }
            .contact-img{
                margin-top: 10px;
                img{
                    max-width: 280px;
                }
            }
        }
        .info{
            font-size: 12px;
            h1{
                font-size: 22px;
            }
            p{
                font-size: 11px;
                white-space: nowrap;
            }
        }
        .footer{
            position: relative;
            .left-sec {
                .rights{
                    position: absolute;
                    bottom: -125px;
                    transform: translate(80%, 50%);
                }
            }
            flex-direction: column;
            gap: 30px;
            align-items: flex-start;
            .ul-sec{
                grid-template-columns: repeat(2,1fr);
                gap: 28px;
                column-gap: 160px;
            }
            .right-sec{
                gap: 65px;
            }
        }
    }
}
//////////////
@media screen and (min-width:769px) and (max-width:992px){
    .main{
        .container{
            .abbr{
                display: none;
            }
            width: 95%;
            .nav{
                gap: 140px;
            }
            .intro{
                margin-top: 200PX;
                gap: 140px;
                .img-container{
                    img{
                        max-width: 300px;
                    }
                }
            }
            .section{
                margin-top: 160px;
                .acc-mid{
                    margin-bottom: 110px;
                }
                .our-value{
                    gap: 70px;
                    .value-img{
                        margin-top:27px ;
                        img{
                            max-width: 300px;
                        }
                    }
                }
                .acc-conta{
                    margin-bottom: 75px;
                }
                .contact-sec{
                    gap: 55px;
                    .contact{
                        .bottom-sec{
                            margin-left: 6px;
                            .call,.Chat,.video,.Message{
                                width: 160px;
                                gap: 8px;
                            }
                        }
                    }
                    .contact-img{
                        margin-top: 95px;
                        img{
                            max-width: 285px;
                        }
                    }
                }
                .footer{
                    gap: 75px;
                    .right-sec{
                        .ul-sec{
                        gap: 45px;
                    }
                    }
            }
                
            }
        }
    }
}
///////////////////////
// @media(min-width:768px){
//     .main{
//         .container{
//             width: 90%;
//             .nav{
//                 gap: 95px;
//             }
//             .abbre{
//                 ul{
//                     gap: 35px;
//                 }
//             }
//             .intro{
//                 margin-top: 248px;
//                 gap: 90px;
//                 justify-content: center;
//                 .search{
//                     gap: 40px;
//                     font-size: 14px;
//                 }
//                 .img-container{
//                     margin-top: 85px;
//                     img{
//                         max-width: 272px;
//                     }
//                 }
//             }
//             .section{
//                 margin-top: 140px;
//                 .acc-mid{
//                     margin-bottom: 135px;
//                 }
//             }
//         }
//     }
// }

@media screen and (min-width:993px) and (max-width:1100px){
    .container{
        width: 85%;
        .abbr{
            display: none;
        }
        .section{
            margin-top: 170px;
            .acc-mid{
                margin-bottom: 110px;
            }
        }
    }
}
@media(min-width:1101px){
    .container{
        width: 75%;
        .abbr{
            display: none;
        }
        .nav{
            gap: 370px;
        }
        .acc-conta{
            margin-bottom: 200px;
        }
    }
}